<%- include('partials/head') %>
<%- include('components/navbar') %>
<main class="container  mt-3">

    <article>
        <div class="header">
            <div class="title">
                <h1 class="h3"><%=article.titre %></h1>
            </div>
            <div class="btns d-flex gap-2 mt-3">
                <a href="/edit/<%=article._id %>" class="btn btn-primary">Editer</a>
             
                <form action="/delete/<%=article._id %>" method="DELETE">
                    <button class="btn btn-danger">Supprimer</button>
                </form>
            </div>
        </div>

        <div class="content">
            <img src="../upload/<%=article.img%>" class="card-img-top" alt="<%=article.img %>">
            <p><%=article.body %></p>
        </div>

    </article>


</main>
<%- include('partials/footer') %>